export PASSWORD_STORE_DIR="${PWD}/pass"
export PROXMOX_VE_USERNAME="$(pass terraform-prov-user)"
export PROXMOX_VE_PASSWORD="$(pass terraform-prov-password)"

export TF_CLI_CONFIG_FILE=$PWD/terraform/overrides.tfrc


use flake
